
/* Clients
================================================================ */

.section.clients {

/******************************************************************
Start building the basic layout
******************************************************************/

	background-image: url('../../images/polygon-bg-grey.jpg') !important;
	padding: 5rem 0;
	text-align: center;
	&:after {
		background: rgba(0,0,0,0.5) !important;
	}
	h5 {
		margin-top: 0.25em;
		font-size: $font-size-4;
		font-weight: 100;
		color: $brand-1;
	}
	.client-logos {
		margin-top: 3rem;
		position: relative;
		a {
			background: rgba(0, 0, 0, 0.25);
			border-radius: 6px;
			display: inline-block;
			padding: 1em;
			img {
				@extend %vam;
			}
			&:hover {
				background: $brand-1;
			}
		}
	}
	.clients-slider {		
		position: relative;
		top: -0.75rem;
	}
	.owl-item {
		img {
			width: auto;
			margin: auto;
		}
	}

	.owl-dots {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: -2.5rem;
	}

/******************************************************************
Start building for smaller resolutions
******************************************************************/

	@media (max-width: $breakpoint-1) {
		.client-logos {
			a {
				img {
					transform: none;
					top: auto;
					max-width: 160px;
				}
			}
		}		
	}

/******************************************************************
Start building for larger resolutions
******************************************************************/

	@media (min-width: $breakpoint-1) {
		.client-logos {
			a {
				height: 58px;
				padding: 2em 1.5em;
				display: block;
			}
		}
	}

	@media (min-width: $breakpoint-3) {
		text-align: left;
		.title {
			border-right: 1px solid rgba(0,0,0,0.65);
			box-shadow: inset -1px 0 0 rgba(255,255,255,0.075);
			padding-right: 1em;
		}
		.client-logos {
			margin-top: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}

} // end .clients