
/* Hero
================================================================ */

.hero {

/******************************************************************
Start building the basic layout
******************************************************************/

	position: relative;
	min-height: 600px;
	background-size: cover;
	background-image: url('../../images/stock5.jpg');
	color: white;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width:100%;
		background: rgba(0,0,0,0.3);
	}

	.container {
		position: absolute;
		z-index: 1;
		transform: translateY(-50%);
		top: 53%;
		left: 0;
		right: 0;
		margin: auto;
	}

	.hero-title {
		font-size: $font-size-4;
		margin-bottom: 1.5rem;
		h2,
		h3 {
			margin: 0.25em 0;
		    &:first-child {
		    	margin-top: 0;
		    }
		    &:last-child {
		        margin-bottom: 0;
		    }
		}
		h2 {
			font-size: 1.2em;
			font-weight: 600;
		}
		h3 {
			font-size: 0.85em;
			font-weight: 300;
			text-transform: uppercase;
			color: $brand-1;
		}
	}

	.blurb {
		font-weight: 100;
		a {
			color: white;
			border-bottom: 1px dotted;
			&:hover {
				color: $brand-1;
			}
		}
	}

	.button {
		margin-top: 0.75em;
		&:last-child {
			margin-left: 0.5em;
		}
		&.border {
			border: 2px solid $white !important;
			color: $white;
			&:hover {
				background: $white;
				color: #071216;
			}
		}
	}

	.hero-down {
		display: none;
		position: absolute;
		text-align: center;
		z-index: 2;
		bottom: 1rem;
		left: 0;
		right: 0;
		margin: auto;
		opacity: 1;
		transition: 0.4s;
		&:hover {
			border-bottom: none;
		}
	}

/******************************************************************
Start building for larger resolutions
******************************************************************/

	@media (min-width: $breakpoint-2) {
		.hero-title {
			> span {				
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

	@media (min-width: $breakpoint-3) {	
		height: 900px;
		height: 100vh;
		min-height: 750px;
		.hero-title {
			font-size: $font-size-6;
		}
		.container {
			top: 52%;
		}
		.title-wrapper {
			width: 80%;
		}
		.blurb {
			font-size: $font-size-3;
		}
		.button {
			font-size: $font-size-2;
		}
		.hero-down {
			display: inline-block;
		}

		/* Animations */

		.title-wrapper {
			position: relative;
		}

		.hero-title, 
		.blurb, 
		.button {
			position: relative;
			transition: 0.85s;
			opacity: 1;
			top: 0;
		}

		&.inactive {
			.hero-title, 
			.blurb, 
			.button {
				opacity: 0;
			}		
			.hero-title {
				top: 6rem;
			}
			.blurb {
				top: -1rem;
			}
			.button {
				top: -6rem;
			}
			.hero-down {
				bottom: 2em;
				opacity: 0;
			}
		}
	}

	@media (min-width: $breakpoint-4) {
		.hero-title {
			font-size: $font-size-6;
		}
	}

} // end .hero

.hero-fixed {
	.hero {
		position: fixed;
		top: 0;
		width: 100%;
	}
	&.cp-active {
		padding-top: 0 !important;
	}
}

.video-bg {
	.hero {
		background: none;
	}
}

.hero-vid {
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	background: url('../../images/stock5.jpg') no-repeat;
	background-size: cover;
	display: none;
}

.hero-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba($black, 0.5);
	display: none;
	z-index: -1;
}