
/* Services Page
================================================================ */

body.services {

	.section.services {
		.service {
			display: inline-block;
		}
		&:after {
			background-position: 0em 4em;
		}
		// Animations
		.row {
			transition: 0.4s;
			position: relative;
			&.inactive {
				opacity: 0;
				top: 3em;
			}
			&.active {
				opacity: 1;
				top: 0;
			}
		}
	}

/******************************************************************
Start building for smaller resolutions
******************************************************************/

	@media (max-width: $breakpoint-3) {
		.section.services {
			.row {
				margin-top: 4rem;
				&:first-child {
					margin-top: 0;
				}
			}
			.service {
				&:not(:last-child) {
					padding-bottom: 2rem;
					margin-bottom: 2rem;
					border-bottom: 1px dotted rgba(0,0,0,0.1);
				}
			}
			&:after {
				width: 66%;
				height: 10%;
				bottom: 1px;
			}
		}
	}

	@media (max-width: $breakpoint-4) {
		.section.services {
			.service {
				.title {
					display: block;
				}
				.fa {
					height: 65px;
				}
			}
		}
	}

} // end body.services