/******************************************************************

Site Name: Nexus HTML Template
Author: http://edmundreed.co.uk

One Nexus Framework by Edmund Reed 
http://onenexusproject.com

******************************************************************/

/******************************************************************
Skeleton
******************************************************************/

@import "skeleton/normalize";
@import "skeleton/variables"; $brand-1 : #bb1c1c;
@import "skeleton/base";
@import "skeleton/grid";
@import "skeleton/helpers";
@import "skeleton/print";

/******************************************************************
Elements
******************************************************************/

@import "elements/accordions";
@import "elements/alert-boxes";
@import "elements/buttons";
@import "elements/blockquotes";
@import "elements/carousels";
@import "elements/feature-blocks";
@import "elements/fonts";
@import "elements/forms";
@import "elements/headings";
@import "elements/icons";
@import "elements/images";
@import "elements/links";
@import "elements/lists";
@import "elements/metro-blocks";
@import "elements/modals";
@import "elements/price-charts";
@import "elements/progress-bars";
@import "elements/ribbons";
@import "elements/tables";
@import "elements/tabs";
@import "elements/tooltips";
@import "elements/widgets";

/******************************************************************
Modules
******************************************************************/

@import "modules/author";
@import "modules/blog-items";
@import "modules/bottom-bar";
@import "modules/breadcrumb";
@import "modules/comments";
@import "modules/control-panel-nav";
@import "modules/desktop-carousel";
@import "modules/earth";
@import "modules/flyout-nav";
@import "modules/footer";
@import "modules/footer-testimonials";
@import "modules/google-map";
@import "modules/header";
@import "modules/header-fixed";
@import "modules/loading-spinner";
@import "modules/logo";
@import "modules/main-nav";
@import "modules/nav-trigger";
@import "modules/newsletter";
@import "modules/pagination";
@import "modules/portfolio-items";
@import "modules/scroll-down";
@import "modules/scroll-top";
@import "modules/search";
@import "modules/sub-header";
@import "modules/theme-options";
@import "modules/twitter-feed";

/******************************************************************
Sections
******************************************************************/

@import "sections/banner";
@import "sections/clients";
@import "sections/contact";
@import "sections/hero";
@import "sections/latest-posts";
@import "sections/latest-works";
@import "sections/more-info";
@import "sections/pricing";
@import "sections/quote";
@import "sections/section";
@import "sections/section-primary";
@import "sections/section-secondary";
@import "sections/services";
@import "sections/skills";
@import "sections/stats";
@import "sections/team";
@import "sections/testimonials";
@import "sections/welcome";
@import "sections/what-we-offer";
@import "sections/why-choose-us";

/******************************************************************
Pages
******************************************************************/

@import "pages/about";
@import "pages/blog";
@import "pages/further";
@import "pages/services";
@import "pages/single-post";
@import "pages/single-project";

/******************************************************************
App Specific Styles
******************************************************************/

/* Make map greyscale, */
/* Make blue media grey on non-blue themes */

#map,
.blue-media {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */ 
}

/* Edit corner-ribbon color */

.ribbon {
	.banner {
		&::after, &::before {
			background-color: #D69431;
		}
	}
	.text {
		color: white;
		text-shadow: none;
		&::before, &::after {
			background-color: #E0BD41;
		}
	}
}