
/* Price Charts
================================================================ */

.price-chart {
	position: relative;
	background: $brand-1;
	padding: 0.5em;
	color: white;
	transition: 0.4s;
	text-align: center;
	h4 {
		margin-top: 0.5em;
		margin-bottom: 0.25em;
		font-size: $font-size-4;
		.fa {
			color: white;
		}
	}
	h5 {
		margin-top: 0;
		margin-bottom: 1.25em;
		font-weight: 100;
		font-family: $font-1;
		font-size: $font-size-2;
	}
	.price {
		padding: 0.1em;
		background: rgba(0,0,0,0.6);
		height: 2.75em;
		font-size: $font-size-4;
		span {
			font-size: $font-size-6;
		}
	}
	ul {
		@extend ul.reset;
		background: $background-color;
		color: darken($grey, 15%);
		text-align: left;
		li {
			padding: 0 1.25em;
			line-height: 3;
			display: table;
			width: 100%;
			&:nth-child(even) {
				background: rgba(0,0,0,0.1);
			}
			.fa {
				width: 1.5em;
			}
			strong, span {
				display: table-cell;
			}
			strong {
				text-align: right;
			}
		}
	}
	.buy-now {
		background: rgba(255,255,255,0.5);
		padding: 0.75em;
		font-size: $font-size-2;
	}
	&.free {
		&, .button {
			background: rgba(0,0,0,0.4);			
		}
		.button {
			&:hover {
				background: rgba(0,0,0,0.5);
			}
		}
	}
}