
/* Metro Blocks
================================================================ */

.metro-blocks {
	@extend .cf;
	ul {
		@extend ul.reset;
	}
}

.metro-block {

	float: left;
	background: rgba(0,0,0,0.75);
	position: relative;
	height: 0;
	width: 33.3333334%;
	width: calc(100 / 3);
	padding-top: 26%;
	text-align: center;
	color: white;

	a {
		display: block;
		color: white;
		position: absolute;
		width: 100%;
		height: 101%;
		top: 0;
	}
	
	.social-share-overlay {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transition: 0.4s;
		z-index: 1;
		.fa {
			position: relative;
			top: 50%;
			font-size: 2em;
			transform: translateY(-50%);
		}
	}

	.share-amount {
		position: absolute;
		top: 50%;
		transform: translateY(-2.75em) scale(0);
		left: 0;
		right: 0;
		margin: auto;
		transition: 0.4s;
		div {
			text-transform: uppercase;
			&:first-child {
				font-size: $font-size-4;
				font-weight: 600;
			}
			&:last-child {
				font-size: $font-size-0;
			}
		}
	}

	span {
		display: none;
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0.4em;
		background: rgba(0,0,0,0.4);
		font-weight: 600;
		font-size: $font-size-0;
		font-family: $font-2;
	}

/******************************************************************
Style Variants
******************************************************************/

	&.facebook {
		.social-share-overlay {
			background: $facebook;
		}
	}
	&.twitter {
		.social-share-overlay {
			background: $twitter;
		}
	}
	&.google-plus {
		.social-share-overlay {
			background: $google-plus;
		}
	}
	&.rss{
		.social-share-overlay {
			background: $rss;
		}
	}
	&.reddit{
		.social-share-overlay {
			background: $reddit;
		}
	}
	&.email{
		.social-share-overlay {
			background: #6cb42c;
		}
	}

	&:hover {
		.social-share-overlay {
			top: -100%;
		}
		.share-amount {
			transform: translateY(-55%) scale(1);
		}
	}

/******************************************************************
Start building for larger resolutions
******************************************************************/

	@media (min-width: $breakpoint-1) {
		span {
			display: block;
		}
		.social-share-overlay {
			.fa {
				transform: translateY(-0.85em);
			}
		}
		&:hover {
			.share-amount {
				transform: translateY(-2.75em) scale(1);
			}
		}		
	}

	@media (min-width: $breakpoint-2) {
		width: 16.6666667%;
		width: calc(100 / 6);
		padding-top: 13%;
	}

} // end .metro-block