
/* Author
================================================================ */

.post-author {

	@extend .cf;

	margin-top: 4rem;

	header {
		width: 100% !important;
		margin-bottom: 4rem;
	}

	h4,
	h5 {
		margin: 0.25em 0;	
	    &:first-child {
	    	margin-top: 0;
	    }
	    &:last-child {
	        margin-bottom: 0;
	    }
	}

	h4 {
		font-size: $font-size-3;
		a {
			color: inherit;
			&:hover {
				border-bottom: none;
				color: $brand-1;
			}
		}
	}

	h5 {
		font-size: $font-size-2;
		font-weight: 300;
		color: $brand-1;
	}

	p {
		margin: 0.5em 0;
	}

	.profile {
		display: block;
		margin: auto;
		margin-bottom: 1.5rem;
	}
	
	.author-content {
		text-align: center;
	}

/******************************************************************
Start building for larger resolutions
******************************************************************/

	@media (min-width: $breakpoint-2) {
		.profile,
		.author-content {
			display: inline-block;
			vertical-align: middle;
		}
		.profile {
			margin-bottom: 0;
		}
		.author-content {
			width: 85%;
			width: calc(100% - 132px);
			margin-left: 26px;
			text-align: left;
		}
	}

} // end .post-author